{% extends "base/base.html" %}
{% load static %}

{% block title %} Edit Account {% endblock %}

{% block styles %} {% static 'css/accounts/edit.css' %} {% endblock %}


{% block content %}

    <div class="content-wrapper">

        <h1>This is the accounts Edit Page</h1>

        <div class="form-div">

            <form action="{% url 'edit-account' %}" method="POST" enctype="multipart/form-data">
                {% csrf_token %}

                {% for field in account_form %}

                    {% if field.name != 'password' %}
                        <div class="field-form">
                            {{ field }}
                        </div>
                    {% endif %}

                {% endfor %}

            {% for field in account_info_form %}

                <div class="field-form">
                    {{ field }}
                </div>

            {% endfor %}

                <button class="btn btn-dark" type="submit">Confirm</button>

            </form>

        </div>

    </div>

{% endblock %}