{% extends "base/base.html" %}
{% load static %}

{% block title %} Edit Account {% endblock %}

{% block styles %} {% static 'css/accounts/edit.css' %} {% endblock %}


{% block content %}

    <div class="content-wrapper">

        <div class="content">
            <h1>Edit profile:</h1>

            <form action="{% url 'edit-account' %}" method="post" enctype="multipart/form-data">

                {% csrf_token %}

                <div class="card">
                    <img class="card-img-top" src="{{ request.user.info.photo.url }}" alt="Card image cap">

                    <div class="card-body">

                        <h5 class="card-title">@<strong>{{ request.user.username }}</strong></h5>
                        <p class="card-text">
                            {% if request.user.first_name %}
                                {{ request.user.first_name }} {{ request.user.last_name }}, you are about to edit your
                                profile information.
                                {% else %}
                                You are about to edit your profile information.
                            {% endif %}
                        </p>

                    </div>

                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            {% for field in account_form %}
                                {% if field.name != 'password' %}
                                    <p>{{ field }}</p>
                                {% endif %}
                            {% endfor %}

                            {% for field in account_info_form %}
                                <p>{{ field }}</p>
                            {% endfor %}
                        </li>
                    </ul>

                    <div class="card-body">
                        <button type="submit" class="btn btn-dark">Submit</button>
                        <a href="#" class="btn btn-dark">Delete Profile</a>
                    </div>

                </div>

            </form>

        </div>



    </div>

{% endblock %}