{% extends "base/base.html" %}
{% load static %}

{% block title %} Edit Place {% endblock %}
{% block styles %} {% static 'css/review/edit_place.css' %} {% endblock %}


{% block content %}

    <div class="content-wrapper">

        <div class="header-div">
            <h1>Edit Place</h1>
        </div>

        <div class="card">

            <img src="{{place.photo}}" class="card-img-top" alt="photo">

            <div class="card-body">
                <h5 class="card-title">{{place.name}}</h5>
                <p class="card-text">{{place.location}}</p>
                <p class="card-text">{{place.description}}</p>

                <div class="button-group">

                    <div>
                        <a href="{% url 'reviews' place.id %}" class="btn btn-dark">Read Reviews</a>
                        <a href="{% url 'index' %}" class="btn btn-dark">Main Page</a>
                    </div>

                    <div>
                        <a href="{% url 'reviews' place.id %}" class="btn btn-dark">Delete Place</a>
                    </div>

                </div>

            </div>

        </div>

        <div class="form-container">

            <form method="POST" action="{% url 'edit_place' place.id %}">
                {% csrf_token %}
                {{ form.errors }}
                <div class="form-group">
                    {{ form.name }}
                </div>
                <div class="form-group">
                    {{ form.location }}
                </div>
                <div class="form-group">
                    {{ form.description }}
                </div>
                <div class="form-group">
                    {{ form.photo }}
                </div>
                <div>
                    {{ form.user }}
                </div>
                <button class="btn btn-dark" type="submit">Submit</button>
            </form>

        </div>

    </div>

{% endblock %}