<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>

<div class="main_wrapper" style="display: flex; align-items: center;justify-content: center; flex-direction: column; flex-wrap: wrap;">

    <div style="text-align: center; width: 1000px; background-color: darksalmon; display: flex; justify-content: space-between; margin: 20px 0 20px 0; border-radius: 5px;">

        <div style="display: flex; width: 100%; flex: 40%; justify-content: center; align-items: center;">

            <h1>Place Reviewer</h1>
        </div>

        <div style="display: flex; flex: 40%; justify-content: flex-end; align-items: center;">
            {% if user != "blank" %}
                <div style="margin-right: 10px;">
                <span>Welcome:</span>
                <span> <strong> {{ user }} </strong></span>
                </div>
                <a href="{% url 'logout' %}" class="btn btn-primary">
                    Logout
                </a>

            {% else %}

                <a href="{% url 'login' %}" class="btn btn-primary" style="margin: 0 5px 0 5px;">
                    Login
                </a>
                <a href="{% url 'register' %}" class="btn btn-primary" style="margin: 0 5px 0 5px;">
                    Register
                </a>

            {% endif %}
        </div>


    </div>

    <div style="display: flex; align-items: center;justify-content: center; flex-direction: row; flex-wrap: wrap; max-width: 1000px;">

        {% for place in places %}

            <div style="max-width: 440px; padding: 20px;">

                <div class="card" style="max-width: 460px;">
                    <img src="{{place.photo}}" class="card-img-top" alt="photo" style="max-height: 280px; max-width: 400px">

                    <div class="card-body">
                        <h5 class="card-title">{{place.name}}</h5>
                        <p class="card-text">{{place.location}}</p>
                        <p class="card-text">{{place.description}}</p>
                        <a href="{% url 'reviews' place.id %}" class="btn btn-primary">View Reviews</a>

                    </div>

                </div>

            </div>

        {% endfor %}

    </div>

    <div style="display: flex; align-items: center;justify-content: center; flex-direction: row; flex-wrap: wrap; margin-bottom: 20px;">
        <a href="{% url 'place_add' %}" class="btn btn-primary">Add Place</a>
    </div>

</div>
</body>
</html>