{% extends "base/base.html" %}

{% load util %}
{% load static %}

{% block title %} Write Review {% endblock %}
{% block styles %} {% static "css/review/place_write_review.css" %} {% endblock %}

{% block content %}

    <div class="content-wrapper">

        <div class="header-div">
            <h1>Write Reviews</h1>
        </div>

        <div class="card">
            <img src="{{place.photo}}" class="card-img-top" alt="photo">

            <div class="card-body">
                <h5 class="card-title">{{place.name}}</h5>
                <p class="card-text">{{place.location}}</p>
                <p class="card-text">{{place.description}}</p>

                <div>
                    <a href="{% url 'reviews' place.id %}" class="btn btn-dark">Read Reviews</a>

                </div>
            </div>

        </div>

        <div class="form-container">
            <form method="POST" action="{% url 'write_review' place.id %}">
                {% csrf_token %}

                <div class="form-group">
                    {{ form.username }}
                </div>

                <div class="form-group">
                    {{ form.stars }}
                </div>

                <div class="form-group">
                    {{ form.comment }}
                </div>

                <button class="btn btn-dark" type="submit">Submit</button>
            </form>

        </div>

    </div>

{% endblock %}
