{% extends "base/base.html" %}
{% load static %}

{% block title %} Add Place {% endblock %}
{% block styles %} {% static "css/review/place_add.css" %} {% endblock %}



{% block content %}

    <div class="content-wrapper">

        <div class="header">
            <h1>Add a new place</h1>
        </div>

        <div class="flex-container" id="add-form-container">

            <form method="POST" action="{% url 'place_add' %}">
                {% csrf_token %}

                <div class="form-row">
                    {{ form.name }}
                </div>

                <div class="form-row">
                    {{ form.location }}
                </div>

                <div class="form-multiline">
                    {{ form.description }}
                </div>

                <div class="form-row">
                    {{ form.photo }}
                </div>

                <div>
                    {{ form.user }}
                </div>

                <div class="form-btn">
                    <button type="submit" class="btn btn-light">
                        Create Place
                    </button>
                </div>

            </form>

        </div>

    </div>

{% endblock %}

