<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add place</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <div id="main_wrapper"  class="flex-container text-center" style="display: flex; flex-direction: column; justify-content: center;align-items: center;">

        <div class="flex-container" style="border: 1px solid rgba(0, 0, 0, 0.2); min-width: 24rem; border-radius: 5px; margin-top: 10px;">
            <h1>Add a new place</h1>
        </div>

        <div class="flex-container" style="max-width: 40rem;" id="add-form-container">

            <form method="POST" action="{% url 'place_add' %}">
                {% csrf_token %}

                <div style="min-width: 100%; margin-top: 10px;">
                    {{ form.name }}
                </div>

                <div style="min-width: 100%; margin-top: 10px;">
                    {{ form.location }}
                </div>

                <div style="min-width: 100%; margin-top: 10px;">
                    {{ form.description }}
                </div>

                <div style="min-width: 100%; margin-top: 10px;">
                    {{ form.photo }}
                </div>

                <div>
                    <button type="submit" class="btn btn-primary" style="margin-top: 10px;">
                        Create Place
                    </button>
                </div>

            </form>

        </div>

    </div>
</body>
</html>