.content-wrapper {
    color: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    max-width: 1200px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

.content {
    color: inherit;
    margin: 20px 0 20px 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 20px 0 20px;
    width: 100%;
    text-align: center;
}

.left-side {
    color: inherit;
    flex-basis: 40%;
    justify-content: center;
}

.left-side div{
    max-width: 26rem;
    width: 100%;
}

.right-side {
    display: flex;
    flex-basis: 55%;
    flex-direction: column;
    border-radius: 5px;
    text-align: center;
    max-width: 100vw;
    background-color: rgba(240, 240, 240, 0.2);
}

.right-side h1 {
    background-color: whitesmoke;
    border-radius: 10px 10px 0 0;
}

.places-div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.places-div div {
    margin: 5px;
}

.paginator-div  {
    margin: 20px 0 20px 0;
}

.card {
    box-shadow: 1px 0 6px 0 rgba(42, 42, 42, 1);
}

@media screen and (max-width: 600px) {
    .left-side {
        flex-basis: 100%;
    }

    .right-side {
        flex-basis: 100%;
        margin-top: 20px;
    }
}