.content-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    max-width: 1200px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

.form-div {
    display: flex;
    flex-direction: column;
    background-color: whitesmoke;
    max-width: 600px;
    width: 100%;
    margin: 10px 0 10px 0;
}

.field-form {
    margin: 10px 0 10px 0;
}