.content-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    max-width: 1200px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

.content {
    max-width: 30rem;
}